body,
html {
	margin: 0;
}

body {
	color: #333;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	background: #BEEB9F;
	padding: 0 50px;
	-webkit-font-smoothing: antialiased;
}

strong {
	color: #FF6138;
	font-style: italic;

}

strong:hover {
	color: #ffb29e;
	}

p {
	font-size: 45px;
	line-height: 60px;
	text-align: justify;
}
