<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Mark william Connor</title>
	<link rel="stylesheet" href="{% static 'css/style_priklad_6.css' %}" type="text/css">
</head>
<body>
	<a href="{% url 'index' %}" class="align-left-menu">Domů</a>
	<img src="{% static 'html_kurz/mark_william.png' %}" alt="" class="image-circle">
	<h1>Mark William Connor</h1>
	<h2>Web Designer & Web Developer</h2>

	<p>
		<strong>Hello my name is Mark William Connor</strong> and I'm a Web Designer & Web Developer from Melbourne, Australia. In
		pharetra orci Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, culpa, quia.
		A blanditiis dolor earum explicabo harum illum inventore ipsum maiores maxime, placeat, rerum sit sunt suscipit.
		Ipsum, quia, reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias asperiores at
		atque aut consequuntur debitis delectus dolores eius enim, inventore minima molestiae neque nulla omnis
		pariatur quas rem voluptate.
	</p>

	<div class="main">
		<section class="align-left">
			<h3>Profile</h3>
			<div class="box">
				<p class="title">Full Name</p>
				<p class="title-value">Mark William Connor</p>
			</div>
			<div class="box">
				<p class="title">Born</p>
				<p class="title-value">M01 July 1990</p>
				<p class="title-value">Melbourne, Australia</p>
			</div>
			<div class="box">
				<p class="title">Linkedin Profile</p>
				<p class="title-value"><a href="https://www.linkedin.com/markwilliamconnor">https://www.linkedin.com/markwilliamconnor</a></p>
			</div>
		</section>

		<section class="align-left">
			<h3>Work Experience</h3>
			<div class="box">
				<p class="title">June 2021 - Current</p>
				<p class="title-value">IT Group</p>
				<p class="title-value">Lead Web Designer in Melbourne, AU</p>
				<p class="small-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium explicabo facilis harum quae qui.
					Assumenda atque consequatur dolorem doloribus id laboriosam natus quidem, quisquam quod, quos
					repellendus vero vitae voluptatem.
				</p>
			</div>
			<div class="box">
				<p class="title">September 2010 - Current</p>
				<p class="title-value">Freelance</p>
				<p class="title-value">Lead Web Developer in Melbourne, Au</p>
				<p class="small-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut cum debitis distinctio ea error
					est et in ipsam itaque magnam, nemo placeat provident quis quisquam rem repellat sapiente totam.
				</p>
			</div>
		</section>
	</div>

</body>
</html>
