<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Lekce 10</title>
	<link rel="stylesheet" href="{% static 'css/style_priklad_2.css' %}" type="text/css">
</head>
<body>
	<a href="{% url 'index' %}" class="home_link text-left">Domů</a>
	<h1><span class="highlight">Ad</span>venture Time</h1>
	<h2>Grab your friend</h2>

	<div class="main">
		<p>
			Cupcake ipsum dolor sit amet shortbread cake soufflé. <a href="" class="important">Dragée dragée chocolate</a> cake brownie tiramisu
			donut marshmallow. Liquorice cake lemon drops chocolate cake liquorice danish cheesecake jelly-o. Fruitcake
			cupcake cookie toffee muffin toffee.
		</p>


		<p class="special">
			<em>Gummies shortbread powder toffee oat cake cake bonbon.</em> Gingerbread jelly cake chocolate sweet. Jelly
			tootsie roll halvah danish danish.
		</p>

		<p class="text-left">
			<small>5 seconds ago</small> Sucking at something is the first step to being sorta good at something.

			<br><br>

			<small>35 minutes ago</small> When bad things happen, I know you want to believe they are a joke, but
			sometimes life is scar and dark.

			<br><br>

			<small>1 hour ago</small> When bad things happen, I know you want to believe they are a joke, but
			sometimes life is scar and dark.

			<br><br>

			<small>12 houro</small> When bad things happen, I know you want to believe they are a joke, but
			sometimes life is scar and dark.
		</p>
		<p>
			<strong id="main-guy">Danish pie cake sugar plum carrot</strong> cake brownie shortbread sweet roll cookie. Liquorice marzipan carrot cake
			liquorice chocolate cupcake halvah soufflé. Sweet icing liquorice apple pie chocolate cake gingerbread lemon
			drops. Dragée biscuit topping gingerbread donut jelly liquorice.
		</p>
		<p>
			Apple pie jelly beans gummies topping ice cream liquorice tootsie roll. Wafer lollipop cake icing donut
			tootsie roll. Jelly tart cake dessert cake fruitcake.
		</p>
		<p>Tiramisu tart danish muffin halvah. Tootsie roll apple pie wafer bonbon cookie. <strong class="important">Pudding apple pie jelly
			beans chocolate</strong> bar jelly marzipan muffin tart. Biscuit halvah chocolate cake muffin lemon drops.
		</p>
	</div>


</body>
</html>
