<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Příklad 3</title>
	<link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap'>
	<link rel="stylesheet" href="{% static 'css/style_priklad_3.css' %}" type="text/css">
</head>
<body>
	<a href="{% url 'index' %}">Domů</a>
	<p>
		Candy canes bonbon <strong>liquorice</strong> gummies jelly beans jelly beans caramels. Ice cream jujubes cake <strong>cotton candy
		jujubes</strong> brownie danish sweet roll. Biscuit tiramisu danish pudding oat cake fruitcake.
		Cupcake gummi bears <strong>pudding gummi bears</strong> chupa chups.
	</p>

</body>
</html>

